.details-page {
  margin: 35px auto;
  max-width: 820px;
}

.details-container {
  position: relative;
  margin-bottom: 35px;
  box-shadow: 0px 0px 6px #ccc;
  /* min-height: 840px; */
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ribbon {
  position: absolute !important;
  top: -5px;
  left: -5px;
  overflow: hidden;
  width: 96px;
  height: 94px;
}

.ribbon .ribbon-overdue {
  background-color: #f59d00;
  border-color: #c27c00;
}

.ribbon .ribbon-inner {
  text-align: center;
  color: #fff;
  top: 24px;
  left: -31px;
  width: 135px;
  padding: 4px;
  position: relative;
  transform: rotate(-45deg);
}

.ribbon .ribbon-success {
  background-color: #1fcd6d;
  border-color: #18a155;
}

.ribbon .ribbon-inner:before {
  left: 0;
  border-left: 2px solid transparent;
  color: #2e8fda;
}

.ribbon .ribbon-inner:after {
  right: -3px;
  border-bottom: 3px solid transparent;
  color: #2e8fda;
}

.ribbon .ribbon-inner:before,
.ribbon .ribbon-inner:after {
  content: "";
  border-top: 5px solid transparent;
  border-left: 5px solid;
  border-left-color: inherit;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-bottom-color: inherit;
  position: absolute;
  top: 20px;
  transform: rotate(-45deg);
}

.template {
  color: #333333;
  background: #ffffff;
  height: fit-content;
}

.template-header {
  padding: 0 0.4in 0 0.55in;
  height: 0.7in;
}

.header-content {
  font-size: 9pt;
  color: #333333;
  background-color: #ffffff;
}

.template-body {
  padding: 0 0.4in 0 0.55in;
  height: auto;
}

.title-section {
  width: 100%;
  table-layout: fixed;
}

.title-section td {
  vertical-align: top;
  width: 50%;
}

.invoice-details {
  clear: both;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
}

.invoice-details td {
  vertical-align: bottom;
}

.template-footer {
  height: 0.7in;
  font-size: 6pt;
  color: #aaaaaa;
  padding: 0 0.4in 0 0.55in;
  background-color: #ffffff;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.main-table tbody tr td {
  border-bottom: 0.1px solid var(--border-color);
}
