.custom-collapse.ant-collapse-borderless > .ant-collapse-item {
  border: none;
  margin-bottom: 24px;
  border-radius: 0.4rem !important;
  box-shadow: 0 1px 4px rgba(2, 77, 108, 0.1), 0 1px 2px rgba(2, 77, 108, 0.06);
}

.custom-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: rgba(0, 0, 0, 0.02);
}

.custom-collapse.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  background-color: white;
}

.custom-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-radius: 0.5rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.account-value-box {
  padding: 0 7.5px;
  margin: 0 3px;
}

.account-value-row {
  margin: 15px 0px;
  box-sizing: border-box;
  opacity: 60%;
  font-weight: 500;
}
