.action-icon {
    color: var(--primary-color);
    font-size: 1rem;
}

.action-placeholder {
    width: 1rem;
    height: 1rem;
}

.ant-dropdown {
    background-color: white;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active {
    background-color: var(--primary-color) !important;
    color: white;
}

.active-status {
    margin-left: 0.5rem;
}


