.search-btn .ant-btn,
.search-btn.ant-btn.ant-btn.ant-btn-icon-only {
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 4rem;
}

.search-input {
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  padding-right: 0;
}

.search-type-btn.ant-btn {
  height: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--main-bg-color);
}

.search-input-modal.ant-input-search
  .ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 0 !important;
}
.ant-input-search-disabled .ant-input {
  pointer-events: none;
}

.item-details-table .ant-table-cell {
  padding: 16px 5px 8px 5px !important;
}