/* Logo Styles */
.app-logo {
  width: 8.748rem;
  height: 3.56563rem;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

.app-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #fff;
}

/* Layout Styles */
.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Page Styles */
/* Page Content Styles */
.page-content {
  min-height: calc(100vh - 10.1925rem);
  height: auto;
  background: var(--bg-color1);
  width: 100%;
}

.page-content-with-padding {
  padding: 1.5rem;
}

.page-content-with-form-buttons {
  margin-bottom: 5.5rem;
}

.page-with-column {
  display: flex;
  height: calc(100vh - 5.0625rem);
  width: 100%;
}
/* Page Header Styles */
.page-header {
  width: 100%;
  height: 5rem;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  top: 0;
  border-bottom: 1px solid var(--border-color);
}

.page-header-text {
  font-size: 1.5rem;
}

/* Page Form Button Styles */
.page-actions-bar {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  height: 5.5rem;
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
  gap: 0.5rem;
  background: white;
  z-index: 100;
}

/*For pages that have padding (page-content-with-padding)*/
.page-actions-bar-margin {
  margin-left: -1.5rem;
}

.page-actions-btn {
  display: flex;
  min-width: 5rem;
  height: 2.5rem !important;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* Menu Styles */
.ant-menu {
  margin-top: 0.8rem;
}

.ant-menu .ant-menu-submenu {
  border-radius: 0;
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: white;
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0 !important;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
  margin-inline: 0;
  margin-block: 0;
  width: 100%;
}

.ant-menu-submenu-title {
  margin: 0 !important;
  width: 100% !important;
}

.ant-menu-item-active {
  color: #ededed !important;
  box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1);
}

.ant-statistic-title {
  margin-bottom: 0;
}

.ant-menu-light > .ant-menu-item-selected {
  background-color: rgb(245, 246, 249);
  color: var(--primary-color);
}

.filter-select > .ant-select-selector > .ant-select-selection-item {
  font-size: 1.3em;
  font-weight: bold;
  width: 180px;
  overflow: hidden;
}

.filter-select > .ant-select-arrow {
  color: var(--primary-color);
}

.ant-menu-item-icon svg {
  font-size: 1.125rem;
}

.menu-item-add-new {
  display: flex;
  justify-content: space-between;
  padding-right: 0.2rem;
}

/* Table Styles */
/* General Table Styles */
.ant-table-selection-col,
.ant-table-selection-column {
  display: none;
}

.table-list-item {
  display: list-item;
}

.table-list-item-title {
  font-weight: bold;
  padding: 2px;
}

.table-list-item-description {
  padding-left: 4px;
  font-size: 0.85em;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  cursor: pointer;
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background: white;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.9525rem;
  border-color: var(--border-color);
  height: 3rem;
}

.table-variant .ant-table-thead > tr > th,
.table-variant .ant-table-thead > tr > td {
  background-color: var(--main-bg-color);
}

.header-bg-color-table .ant-table-thead > tr > th,
.header-bg-color-table .ant-table-thead > tr > td {
  background-color: var(--main-bg-color);
}

.table-header-search-icon {
  font-size: 1rem;
  cursor: pointer;
}

.header-less-table .ant-table-thead {
  display: none;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child,
.ant-table-row > .ant-table-cell:first-child {
  padding-left: 1.5rem;
}

.table-actions-header {
  background-color: white;
  height: 3.375rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.table-actions-header .ant-select-item-option {
  padding-top: 1rem;
}

/* .table-actions-header span {
  margin-right: 2rem;
} */

.border-less-input,
.border-less-input .ant-select-selector {
  border: 1px solid transparent !important;
}

.border-less-input:hover {
  border: 1px solid var(--primary-color) !important;
}
.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background: #f5f5f5;
}

.table-actions-select .ant-select-selector {
  border: none !important;
  box-shadow: transparent;
}

/*Fixed Table Header*/
.main-table .ant-table-container table > thead > tr > th {
  position: sticky;
  top: 5rem;
  z-index: 100;
}

.column-table .ant-table-container table > thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 100;
}

/*For Item Details Table */
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > :first-child {
  text-align: start;
}

.item-details-select {
  height: 4rem;
  font-size: 0.813rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details-select-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.813rem;
}

.item-details-select-list .stock-on-hand {
  color: var(--primary-color);
}

/* Columns Styles */
/* Main Content Styles */
.main-content {
  display: flex;
  flex: 1;
}

/* Columns Styles */
.list-column {
  border-right: 1px solid #e4e4e4;
  flex-shrink: 0;
  width: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  height: 93vh;
}

/* Column Header Styles */
.list-column-header-row,
.list-column-header-row-column {
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 15rem;
  padding: 0.5rem 0.5rem;
}

/* Column Full Row Styles */
.list-column-full-row {
  flex-grow: 1;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: scroll;
}

/* Content Column Styles */
.content-column {
  height: 100%;
  padding-left: 5px;
  padding-right: 2px;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content-column-header-row {
  background-color: white;
  display: flex;
  min-height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
}

.content-column-header-row-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-column-header-row-actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.content-column-header-row-actions div {
  min-width: 5rem;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
}

.content-column-header-row-actions > :first-child {
  border-right: 1px solid var(--border-color);
  cursor: pointer;
}

.content-column-header-row-actions > :last-child {
  margin-right: -1.5rem;
}

.content-column-header-row-text > :first-child {
  font-size: 0.813rem;
}

.content-column-header-row-text > :last-child,
.recent-transaction-container p {
  font-size: 1.125rem;
}

.content-title-block {
  height: 4.5rem;
}

.content-column-action-row {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
}

.content-column-action-row div {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 3rem;
  justify-content: center;
  padding: 0 1rem;
  border-right: 1px solid var(--border-color);
  cursor: pointer;
}

.content-column-brief-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.content-column-full-row {
  flex-grow: 1;
  /* justify-content: center; */
  /* align-items: flex-start; */
  background-color: white;
  padding: 1.5rem;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .list-column {
    display: none;
  }
  .content-column {
    display: block;
  }
}

/* Title and Description Styles */
.content-title-block {
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.content-title-main {
  padding-top: 4px;
  font-weight: bold;
  font-size: 1.4em;
}

.content-title-sub {
  padding-top: 3px;
  padding-right: 6px;
  font-size: 0.9em;
}

.content-description {
  margin-top: 4px;
  font-size: 0.9em;
}

.column-width1 {
  width: 20.5rem;
  border-top: 1px solid var(--border-color);
}

.column-width2 {
  width: 22.625rem;
  border-top: 1px solid var(--border-color);
  height: calc(100vh - 10.1925rem);
  overflow: auto;

  scrollbar-color: var(--border-color) transparent;
}

/* Wrapper and Column Width Styles */
.wrapper {
  display: flex;
  flex-direction: row;
}

/* Dynamic Delete Button Styles */
.dynamic-delete-button {
  height: 1rem;
}

/* Form, Inputs, and Button Styles */
.login-form {
  margin: auto;
  padding: 10px;
}

.form {
  padding: 10px;
}

.ant-form-item .ant-form-item-label > label {
  white-space: pre-line;
}

.ant-select-selector,
.ant-select-single {
  height: 2.5rem !important;
}

.ant-input {
  height: 2.5rem;
}

.ant-btn,
.ant-btn.ant-btn.ant-btn-icon-only {
  border-radius: 0.3rem;
  height: 2rem;
}

.ant-picker-outlined {
  height: 2.5rem;
  width: 100%;
}

.ant-radio-wrapper {
  font-size: var(--label-font-size);
}

.add-row-item-btn {
  border: none;
  box-shadow: none;
}

.ant-input-affix-wrapper > input.ant-input {
  height: 100%;
}

.ant-input-affix-wrapper {
  height: 2.5rem;
  max-height: 2.5rem;
}

.ant-input-number .ant-input-number-input,
.ant-input-search .ant-input-search-button {
  height: 2.5rem;
}

.margin-less-input {
  margin: 0;
}

/*Icon Styles*/
.plus-circle-icon {
  color: var(--primary-color);
}

/*Attachment Upload Styles*/
.attachment-upload-container {
  margin-top: 3.5rem;
}

.attachment-upload-container p {
  font-size: 0.625rem;
}

.attachment-upload-btn {
  height: 2.5rem;
}

/* Ant Modal Styles */
.ant-modal .ant-modal-title {
  height: 4rem;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 1.125rem;
  background-color: var(--main-bg-color);
  margin: -1.5rem -1.5rem 1.5rem -1.5rem;
  padding-left: 1.5rem;
  border-radius: 0.3125rem;
}

.ant-modal .ant-modal-content {
  padding: 1.5rem;
}

.ant-modal .ant-modal-footer {
  margin: 1.5rem -1.5rem -1.5rem -1.5rem;
  height: 4.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  border-radius: 0.3125rem;
  gap: 0.5rem;
  border-top: 1px solid var(--border-color);
}

.ant-modal-footer .ant-btn:first-child {
  order: 2;
}

.ant-modal-footer .ant-btn:last-child {
  order: 1;
}

.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
  margin-inline-start: 0;
}

/*Text Styles*/

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/*Ant Tag*/
.ant-tag {
  background-color: var(--tag-color);
  border-radius: 0.313rem;
  padding: 3px 8px;
}

/*Others*/
.table-view {
  margin: 2.5rem 3.563rem;
}

.toggle-pdf-view {
  margin-block: 3.563rem;
  display: flex;
  justify-content: space-between;
  padding-inline-end: 2.5rem;
}

.active-status {
  margin-left: 0.5rem;
  border: none;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  height: 2.1rem;
}

/*Statistic Card*/
.ant-card .ant-card-body {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 100%;
}
/*Ant Statistic Styles*/
.ant-statistic .ant-statistic-content {
  font-size: 1rem;
}

.rc-virtual-list
  .rc-virtual-list-holder
  .rc-virtual-list-holder-inner
  > div:last-child {
  /* margin-bottom: 2rem; */
  transform: none !important;
}

.input-only-table .ant-table-cell {
  padding: 16px 5px 0px 5px !important;
}
